<!DOCTYPE html>
<html lang="ru-RU">
<head>
    <meta charset="UTF-8">
    <title>todolist practice PNSK</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div id="app" v-cloak>
    <header>Заметки ПнСК</header>
    <form id="formed" @submit="checkForm" method="post">
        <div class="errors">
        <p v-if="errors.length">
            <b>Внимание! </b>
        <ul>
            <li v-for="error in errors">{{ error }}</li>
        </ul>
        </div>
        </p>
            <input type="text" class="fm_new" placeholder="Добавить заметку" v-model="todo_new" v-on:keyup.enter="addTodo()">
            <input type="text" class="fm_new" placeholder="Добавить описание" v-model="description" v-on:keyup.enter="addTodo()">
        <div class="button">
        <p>
            <input type="submit" v-on:click="checkForm" value="Submit">
        </p>
        </div>
    </form>
    <section class="ctrl">
        <span class="tip">Активных: {{ leftCount }}, Завершенных: {{ counter }} </span>
        <span class="type" v-bind:class="{on: type == 'all'}" v-on:click="changeType('all')">Все</span>
        <span class="type" v-bind:class="{on: type == 'active'}" v-on:click="changeType('active')">Активные</span>
        <span class="type" v-bind:class="{on: type == 'completed'}" v-on:click="changeType('completed')">Завершенные</span>
        <span class="type" v-bind:class="{on: type == 'outcast'}" v-on:click="changeType('outcast')">Изгои</span>
        <span class="clear_all" v-on:click="clearCompleted()">Очистить заметки (выбранные)</span>
    </section>
    <section class="main">
        <div class="item" v-for="item in filterList" v-bind:class="{finish: item.status == 1}">
            <span v-on:click="toggleTodo($index)"></span>
            <p>
                <i v-time="item.time"></i>
                {{ item.title }}
                {{ item.description }}
            </p>
            <em v-on:click="removeTodo(item)"></em>
        </div>
    </section>

</div>

<script type="text/javascript" src="vue.min.js"></script>
<script type="text/javascript" src="util.js"></script>
<script type="text/javascript" src="style.js"></script>
</div>
</body>
</html>